html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

@media screen and (max-width: 450px) {
  body {
    margin: 5px;
  }
  header > p {
    font-size: 20px;
  }
  h1 {
    font-size: 18px;
  }
  p{
    text-align: justify;
    font-size: 15px;
  }
  li {
    font-size: 16px;
  }
  nav ul li {
    list-style: none;
  }
  nav ul {
    display: flex;
    justify-content: space-around;
  }
}
/* tablet */
@media screen and (min-width: 450px) and (max-width: 1024px) {
  body {
    margin: 10px;
  }
  p {
    font-size: 25px;
    text-align: justify;
  }
  li {
    font-size: 20px;
  }
}
/* laptop */
@media screen and (min-width: 1024px) {
  body {
    margin: 15px;
    background-color: silver;
  }
  p {
    font-size: 35px;
    text-align: justify;
  }
  header, nav ul {
    display: flex;
    justify-content:space-between;
  }
  nav ul li {
    list-style: none;
    font-size: 35px;
    margin: 20px;
    justify-content: flex-end;
  }
  li {
    font-size: 35px;
  }
  h1 {
    font-size: 40px;
  }
  h2 {
    font-size: 35px;
  }
}